@media screen and (max-width: 767px){
    .main-text-1{
      margin-top: 200px;
        font-size: 6vw;
        
        font-weight: bolder;
        letter-spacing: 10px;
        font-family: 'Segoe UI';
        display: flex;
        flex-wrap: wrap;
       
        width: 70%;
        border-right: 5px solid;
        
        overflow: hidden;
        animation: 
        typing 5s infinite alternate,
        cursor 5s step-end infinite alternate;
      
      }

     

      .hamburger-image{
        display: flex;
        width: 100%;
        
        margin-top: 20px;
        justify-content: right;

       
      
       
        
      }
      .header-item-1>a{
        display: none;
    
      }

      .header-item-1{
  
        display: flex;
        display: row;
    
   
       z-index: 1200;
       position: sticky;
      
       top: 0;
       left: 0;
       background-color: rgba(0, 0,0, 0.01);
      
      }

      .header-item-1>img{
        margin-top: 10px;
        
      }
  .hamburger-item-1{
    display: block;
  }


    
}